.topnav {
  text-decoration: none;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 16px;
  letter-spacing: 2.7px;
  padding: 50px 200px 50px 100px;
  text-align: right;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  position: absolute;
  right: 0;
  top: 50px;
}

.logo {
  position: absolute;
  top: 86.5px;
  margin: 0 50px;
}

.mid-container {
  width: 30%;
  text-align: center;
  margin-top: 520px;
  margin-left: 190px;
}

.button {
  position: absolute;
  right: 300px;
  bottom: 150px;
  background-color: #ffffff;
  height: 200px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Barlow Condensed', sans-serif;
  text-decoration: none;
  color: black;
  font-size: 24px;
  border-radius: 50%;
  vertical-align: middle;border-radius: 50%;
  transition: box-shadow 0.3s;
}

.button:hover {
  box-shadow: 0 0 0 15px #ddd;
}


hr {
  width: 50%;
  border-top: 0;
  margin: 0;
  top: 110px;
  left: 10rem;
  z-index: 999;
  position: relative;
}

body {
  background-image: url("../assets/home/background-home-desktop.jpg");
  background-size: cover;
}

.topnav a {
  text-decoration: none;
  color: #ffffff;
  cursor: pointer;
  padding: 50px 20px;
}

.topnav a:hover {
  border-bottom-style: solid;
  height: 100px;
}

h1 {
  color: #ffffff;
  font-family: 'Bellefair Regular', serif;
  font-size: 150px;
  font-weight: lighter;
  margin: 25px;
}

h5 {
  color: #d0d6f9;
  font-size: 28px;
  font-family: 'Barlow Condensed Regular', sans-serif;
  font-weight: lighter;
  letter-spacing: 4.75px;
  margin: 0;
}

P {
  color: #d0d6f9;
  text-align: left;
  font-family: 'Barlow Condensed Regular', sans-serif;
  line-height: 1.5;
  width: 75%;
  margin: auto;
}
