.topnav {
  text-decoration: none;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 16px;
  letter-spacing: 2.7px;
  padding: 50px 200px 50px 100px;
  text-align: right;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  position: absolute;
  right: 0;
  top: 50px;
}

.logo {
  position: absolute;
  top: 86.5px;
  margin: 0 50px;
}

.mid-container {
  width: 30%;
  text-align: center;
  margin-top: 420px;
  margin-left: 190px;
}

.button {
  position: absolute;
  right: 300px;
  bottom: 150px;
  background-color: #ffffff;
  height: 200px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Barlow Condensed', serif;
  text-decoration: none;
  color: black;
  font-size: 24px;
  vertical-align: middle;border-radius: 50%;
  transition: box-shadow 0.3s;
}

.button:hover {
  box-shadow: 0 0 0 50px rgba(255, 255, 255, 0.2);

}


.hr-nav {
  width: 50%;
  border-top: 0;
  margin: 0;
  top: 110px;
  left: 10rem;
  z-index: 999;
  position: relative;
}

body {

  background-size: cover;
}

.topnav a {
  text-decoration: none;
  color: #ffffff;
  cursor: pointer;
  padding: 50px 20px;
}

.topnav a:hover {
  border-bottom-style: solid;
  height: 100px;
}

.h5-2 {
  color: #ffffff;
  position: relative;
  top: 250px;
  left: 200px;
  width: 30%;

}

.moon {
  position: relative;
  top: 350px;
  left: 400px;
}

.destination-nav {
  font-family: 'Bellefair Regular', serif;
  color: #ffffff;
  font-size: 28px;
}

.destination-tabs {
  width: 445px;
  height: 472px;
  position: absolute;
  right: 200px;
  bottom: 100px;

}

.subheading1{
  font-family: 'Bellefair Regular', serif;
  color: #ffffff;
  font-size: 28px;
}

.subheading2 {
  font-family: 'Barlow Condensed', serif;
  font-size: 14px;
  letter-spacing: 2.35;
}

.destination-p{
  width: 100%;
  margin:40px 0 ;
}

em {
  font-style: normal;
  color: #50535b;
  font-weight: bold;
}

table{
  width: 100%;
}

h1 {
  color: #ffffff;
  font-family: 'Bellefair Regular', serif;
  font-size: 150px;
  font-weight: lighter;
  margin: 25px;
}

h2 {
  color: #ffffff;
  font-family: 'Bellefair Regular', serif;
  font-size: 100px;
  font-weight: lighter;
  margin: 40px 0;
}

h5 {
  color: #d0d6f9;
  font-size: 28px;
  font-family: 'Barlow Condensed Regular', sans-serif;
  font-weight: lighter;
  letter-spacing: 4.75px;
  margin: 0;
}

P {
  color: #d0d6f9;
  text-align: left;
  font-family: 'Barlow Condensed Regular', sans-serif;
  line-height: 1.5;
  width: 75%;
  margin: auto;
}



a{
  text-decoration: none;
  color: #ffffff;
}

.hr2{
  opacity: 50%;
}
